<ion-header>
  <ion-toolbar>
    <ion-title>Project Details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list *ngFor="let task of tasks">
    <ion-list-header style="font-size: 20px">
      <ion-label>{{ task.name }}</ion-label>
      <ion-button (click)="deleteTask(task.id)">
        <ion-icon :icon="trash"></ion-icon>
      </ion-button>
      <ion-button (click)="editTask(task.id)">
        <ion-icon :icon="create"></ion-icon>
      </ion-button>
    </ion-list-header>
    <ion-item style="font-size: 12px">
      <ion-label>
        <b>Task Description:&nbsp;&nbsp;</b>
        <i>{{ task.description }}</i>
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-button (click)="addTask()"> Add Task </ion-button>
</ion-content>
