<ion-header>
  <ion-toolbar>
    <ion-title>Add Project</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form (submit)="addProject()">
    <ion-item>
      <ion-label position="floating">Project Name</ion-label>
      <ion-input
        name="projectName"
        type="text"
        [(ngModel)]="projectName"
        required
      ></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Project Description</ion-label>
      <ion-input
        name="projectDescription"
        type="text"
        [(ngModel)]="projectDescription"
      ></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Task Name</ion-label>
      <ion-input
        name="taskName"
        type="text"
        [(ngModel)]="taskName"
        required
      ></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Task Description</ion-label>
      <ion-input
        name="taskDescription"
        type="text"
        [(ngModel)]="taskDescription"
      ></ion-input>
    </ion-item>

    <ion-text
      style="
        text-align: center;
        display: block;
        margin-top: 15px;
        font-size: 12px;
      "
      *ngIf="!isExistingProjectId"
    >
      <b>Note:</b> Click on "ADD PROJECT" button to save the project and task.
    </ion-text>

    <div class="btn-center">
      <ion-button *ngIf="!isExistingTaskId" (click)="addAnotherTask()">
        Add Another Task
      </ion-button>
      <ion-button *ngIf="isExistingTaskId" (click)="updateTaskDetails()">
        Update Task
      </ion-button>
      <ion-button *ngIf="!isExistingProjectId" type="submit">
        Add Project
      </ion-button>
    </div>
  </form>
</ion-content>
