.no-data-section {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.project-list {
  margin: 10px;

  ion-row {
    ion-col {
      ion-list-header {
        font-size: 20px;
      }

      ion-item {
        font-size: 12px;

        ion-label {
          margin: 0;
        }

        &::part(native) {
          --min-height: 16px;
        }
      }

      &.view-details-btn {
        display: flex;
        justify-content: end;
      }
    }
  }
}
