<ion-header>
  <ion-toolbar>
    <ion-title>List of Projects</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid *ngIf="!projects.length" class="no-data-section">
    <ion-row>
      <ion-col>
        <ion-text>
          No project found. Please add to see the project list.
        </ion-text>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button routerLink="/tabs/add-project"> Add Project </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid *ngIf="projects.length">
    <ion-list class="project-list" *ngFor="let project of projects">
      <ion-row>
        <ion-col>
          <ion-list-header>
            <ion-label>{{ project.name }}</ion-label>
          </ion-list-header>
          <ion-item lines="none">
            <ion-label>
              <b>Description:&nbsp;&nbsp;</b>
              <i>{{ project.description }}</i>
            </ion-label>
          </ion-item>
        </ion-col>
        <ion-col class="view-details-btn">
          <ion-button (click)="viewProjectDetails(project.id)">
            View Details
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-list>
  </ion-grid>
</ion-content>
